package main

import (
	"zarinpal-platform/core"
	"zarinpal-platform/services/{{.ServiceName}}/initializer"
)

func main() {
	core.StartService("{{.ServiceName}}", initializer.{{.ServiceNameCamel}}Service{})
}
