http:
  address: ":8088"
grpc:
  address: ":8087"
prometheus:
  address: ":8087"
jaeger:
  address: ":4318"
clients:
  auth:
    address: "localhost:8081"
  user:
    address: "localhost:8081"
  kyc:
    address: "localhost:8081"